<div class="container">
	<p *ngIf="!searchTerm; else searchResults" class="text-center">Please use the text box above to search Google Books.</p>
</div>

<ng-template #searchResults>
	<p>Searching for term: {{searchTerm}}</p>

	<ng-container *ngFor="let book of books">
		<app-book-item [book]="book"></app-book-item>
	</ng-container>

	<div class="pagination">
		<button (click)="firstPage()" [disabled]="currentPage === 1">&#8676;</button>
		<button (click)="prevPage()" [disabled]="currentPage === 1">&#8592;</button>
		<span>Displaying results {{minNumResults}} - {{maxNumResults}} (Page {{currentPage}} of {{numberOfPages}})</span>
		<button (click)="nextPage()" [disabled]="currentPage === numberOfPages">&#8594;</button>
		<button (click)="lastPage()" [disabled]="currentPage === numberOfPages">&#8677;</button>
	</div>

	<p class="text-center">Search returned {{numResults}} resuts. Completed in {{responseTime}} ms.</p>
</ng-template>